:root {
  --bg: #131516;
  --tan: #f9f5d7;
}

@font-face {
  font-family: nightingale;
  src: url(DTNightingale-Light.ttf);
}

body {
  color: var(--tan);
  background: var(--bg);
  font-family: nightingale, "Times New Roman";
  font-size: large;

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px auto;
  max-width: 1200px;
}

body > * {
  margin-left: 50px;
  margin-right: 50px;
}

#title {
 flex: 1 1;
 font-size: 70px;
 margin-bottom: 50px;
 white-space: nowrap;
}

.frac {
  font-size: 10px;
}

.drinks {
  flex: 1 1 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 1000px;
  gap: 50px;
  margin-bottom: 50px;
}

.drink {
  box-sizing: border-box;
  width: 300px;
}

.drink > * {
  white-space: nowrap;
}

.drink-name {
  font-size: xx-large;
  margin: 0;
  margin-bottom: 10px;
}

table {
  table-layout: fixed;
}

td:nth-child(1) {
  text-align: center;
  width: 40px;
}

td:nth-child(2) {
  text-align: left;
}

.header {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.icon {
  /* filters black to #f9f5d7 */
  filter: invert(88%) sepia(19%) saturate(295%) hue-rotate(352deg) brightness(109%) contrast(95%);
  width: 50px;
}

#weird-section {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: flex-end;
  row-gap: 50px;
}

#special-header {
  font-size: x-large;
  font-weight: bold;
}

#special {
  border: 1px solid var(--tan);
  padding: 15px;
  margin: 0;
}

#cocktails {
  max-width: 700px;
}
